apps/automation-engine/workflows/advanced_n8n_reporting.json
{
  "name": "Advanced n8n — Daily Dealership Briefing & Operations",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-6"
            }
          ]
        }
      },
      "id": "9a2b1c3d-4e5f-6789-abcd-ef0123456789",
      "name": "Schedule Trigger (8 AM Sun–Fri)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://Nexus-crm-api.onrender.com/api/v1/reports/daily-stats",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 10000
        }
      },
      "id": "b1c2d3e4-5f6a-7b8c-9d0e-f12345678901",
      "name": "Fetch Daily CRM Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [320, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://Nexus-dashboard.onrender.com/api/v1/dashboard",
        "options": {
          "timeout": 10000
        }
      },
      "id": "c2d3e4f5-6a7b-8c9d-0e1f-234567890123",
      "name": "Fetch Dashboard Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [320, 460],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "d3e4f5a6-7b8c-9d0e-1f23-456789012345",
      "name": "Merge CRM + Dashboard",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [540, 380]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are NEXUS OS Automotive's Executive AI Analyst. Summarize these daily dealership stats into a concise briefing for the General Manager. Format: 3 bullet points max, highlight top metric, flag any urgent actions needed. Use AED currency. Keep it under 150 words."
            },
            {
              "role": "user",
              "content": "={{ JSON.stringify($json) }}"
            }
          ]
        },
        "options": {
          "maxTokens": 300,
          "temperature": 0.3
        }
      },
      "id": "e4f5a6b7-8c9d-0e1f-2345-678901234567",
      "name": "AI Executive Briefing",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [760, 380],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.message.content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f5a6b7c8-9d0e-1f23-4567-890123456789",
      "name": "AI Response Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [980, 380]
    },
    {
      "parameters": {
        "sendTo": "management@nexuscorp.net",
        "subject": "=📊 Daily Dealership Briefing — {{ $now.format('DD MMM YYYY') }}",
        "emailType": "html",
        "html": "=<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;\">\n<div style=\"background:#1a1a2e;color:white;padding:20px;border-radius:8px 8px 0 0;\">\n  <h2 style=\"margin:0;\">🚗 NEXUS OS</h2>\n  <p style=\"margin:4px 0 0;opacity:0.7;\">Daily Executive Briefing — {{ $now.format('dddd, DD MMMM YYYY') }}</p>\n</div>\n<div style=\"background:#f8fafc;padding:20px;border:1px solid #e2e8f0;\">\n  <h3 style=\"color:#1a1a2e;\">AI-Generated Summary</h3>\n  <p style=\"line-height:1.6;\">{{ $('AI Executive Briefing').item.json.message.content }}</p>\n</div>\n<div style=\"background:#1a1a2e;color:white;padding:12px 20px;border-radius:0 0 8px 8px;font-size:12px;\">\n  <p style=\"margin:0;\">Generated by NEXUS OS AI Platform · <a href=\"https://Nexus-dashboard.onrender.com\" style=\"color:#60a5fa;\">View Live Dashboard</a></p>\n</div>\n</div>",
        "options": {}
      },
      "id": "a6b7c8d9-0e1f-2345-6789-012345678901",
      "name": "Email Briefing to Management",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1200, 280],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "management@nexuscorp.net",
        "subject": "=⚠️ NEXUS OS AI: Briefing Generation Failed — {{ $now.format('DD MMM YYYY') }}",
        "message": "The daily AI briefing could not be generated. Please review the n8n workflow at your n8n instance.",
        "options": {}
      },
      "id": "b7c8d9e0-1f23-4567-8901-234567890123",
      "name": "Fallback Error Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1200, 480],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "c8d9e0f1-2345-6789-0123-456789012345",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [100, 600]
    },
    {
      "parameters": {
        "sendTo": "devops@nexuscorp.net",
        "subject": "🚨 n8n Workflow Error: Daily Briefing Failed",
        "message": "=Error: {{ $json.error.message }}\nNode: {{ $json.execution.lastNodeExecuted }}\nWorkflow: Daily Dealership Briefing\nTime: {{ $now.toISO() }}",
        "options": {}
      },
      "id": "d9e0f1a2-3456-7890-1234-567890123456",
      "name": "Alert DevOps",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [320, 600]
    }
  ],
  "connections": {
    "Schedule Trigger (8 AM Sun–Fri)": {
      "main": [
        [
          { "node": "Fetch Daily CRM Stats", "type": "main", "index": 0 },
          { "node": "Fetch Dashboard Metrics", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Daily CRM Stats": {
      "main": [
        [{ "node": "Merge CRM + Dashboard", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Dashboard Metrics": {
      "main": [
        [{ "node": "Merge CRM + Dashboard", "type": "main", "index": 1 }]
      ]
    },
    "Merge CRM + Dashboard": {
      "main": [
        [{ "node": "AI Executive Briefing", "type": "main", "index": 0 }]
      ]
    },
    "AI Executive Briefing": {
      "main": [
        [{ "node": "AI Response Valid?", "type": "main", "index": 0 }]
      ]
    },
    "AI Response Valid?": {
      "main": [
        [{ "node": "Email Briefing to Management", "type": "main", "index": 0 }],
        [{ "node": "Fallback Error Email", "type": "main", "index": 0 }]
      ]
    },
    "Error Trigger": {
      "main": [
        [{ "node": "Alert DevOps", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "last",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["Nexus-corp", "operations", "reporting", "daily"],
  "triggerCount": 0,
  "active": true,
  "versionId": "1.0.0"
}
