apps/automation-engine/workflows/lead_to_crm_pipeline.json
{
  "name": "Lead to CRM Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-intake",
        "responseMode": "onReceived"
      },
      "name": "Webhook - New Lead",
      "type": "n8n-nodes-base.webhook",
      "position": [250, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "// AI Lead Scoring via Cowork Agent\nconst lead = items[0].json;\n\n// Score based on budget, timeline, and source\nlet score = 0;\nif (lead.budget_aed > 200000) score += 30;\nelse if (lead.budget_aed > 100000) score += 20;\nelse score += 10;\n\nif (lead.timeline === 'immediate') score += 30;\nelse if (lead.timeline === '1_month') score += 20;\nelse score += 10;\n\nif (lead.source === 'website') score += 15;\nif (lead.source === 'referral') score += 25;\nif (lead.trade_in) score += 15;\n\nlead.ai_score = score;\nlead.priority = score >= 60 ? 'HOT' : score >= 40 ? 'WARM' : 'COLD';\nlead.scored_at = new Date().toISOString();\nlead.scored_by = 'Cowork AI Agent';\n\nreturn [{ json: lead }];"
      },
      "name": "AI Lead Scoring (Cowork Agent)",
      "type": "n8n-nodes-base.function",
      "position": [500, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"priority\"]}}",
              "operation": "equals",
              "value2": "HOT"
            }
          ]
        }
      },
      "name": "Is HOT Lead?",
      "type": "n8n-nodes-base.if",
      "position": [750, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{$env.CRM_API_URL}}/api/leads",
        "method": "POST",
        "body": "={{JSON.stringify($json)}}",
        "headers": {
          "Content-Type": "application/json",
          "Authorization": "Bearer {{$env.CRM_API_KEY}}"
        }
      },
      "name": "Create CRM Lead",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1000, 200],
      "typeVersion": 3
    },
    {
      "parameters": {
        "phoneNumber": "={{$json[\"phone\"]}}",
        "message": "Thank you for your interest in {{$json[\"vehicle_interest\"]}}! Our team will contact you within 1 hour. - AutoDealer Cars"
      },
      "name": "Send WhatsApp Confirmation",
      "type": "n8n-nodes-base.whatsapp",
      "position": [1000, 400],
      "typeVersion": 1
    },
    {
      "parameters": {
        "channel": "#sales-leads",
        "text": "🔥 HOT LEAD: {{$json[\"name\"]}} - {{$json[\"vehicle_interest\"]}} (Budget: AED {{$json[\"budget_aed\"]}}) - Score: {{$json[\"ai_score\"]}}/100"
      },
      "name": "Notify Sales Team (Slack)",
      "type": "n8n-nodes-base.slack",
      "position": [1250, 200],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "={{$env.CRM_API_URL}}/api/leads",
        "method": "POST",
        "body": "={{JSON.stringify($json)}}"
      },
      "name": "Create CRM Lead (Standard)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1000, 500],
      "typeVersion": 3
    },
    {
      "parameters": {
        "to": "={{$json[\"email\"]}}",
        "subject": "Welcome to AutoDealer Cars!",
        "html": "<h2>Thank you for your interest!</h2><p>We received your inquiry about {{$json[\"vehicle_interest\"]}}. A member of our team will be in touch shortly.</p>"
      },
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.emailSend",
      "position": [1250, 500],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Webhook - New Lead": {
      "main": [
        [{ "node": "AI Lead Scoring (Cowork Agent)", "type": "main", "index": 0 }]
      ]
    },
    "AI Lead Scoring (Cowork Agent)": {
      "main": [
        [{ "node": "Is HOT Lead?", "type": "main", "index": 0 }]
      ]
    },
    "Is HOT Lead?": {
      "main": [
        [
          { "node": "Create CRM Lead", "type": "main", "index": 0 },
          { "node": "Send WhatsApp Confirmation", "type": "main", "index": 0 }
        ],
        [
          { "node": "Create CRM Lead (Standard)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Create CRM Lead": {
      "main": [
        [{ "node": "Notify Sales Team (Slack)", "type": "main", "index": 0 }]
      ]
    },
    "Create CRM Lead (Standard)": {
      "main": [
        [{ "node": "Send Welcome Email", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
