n8n-workflows/document_auditor.json
{
  "name": "KYC/AML Document Auditor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "audit-kyc",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "2d1b8c04-f584-486a-8b1e-62e9c20a4b67",
      "name": "Receive Document",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -200,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract document content from webhook payload\nconst items = $input.all();\nconst item = items[0].json;\n\n// Try to get file data from binary or body\nlet documentContent = '';\nlet imageBase64 = null;\n\nif (item.body && item.body.document_base64) {\n  imageBase64 = item.body.document_base64;\n  documentContent = 'Image document provided as base64';\n} else if (item.body && item.body.document_text) {\n  documentContent = item.body.document_text;\n} else if (item.body && item.body.text) {\n  documentContent = item.body.text;\n} else {\n  documentContent = JSON.stringify(item.body || item);\n}\n\nreturn [{\n  json: {\n    documentContent,\n    imageBase64,\n    hasImage: !!imageBase64\n  }\n}];"
      },
      "id": "prep-doc-node",
      "name": "Prepare Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://nexuscorp.net"
            },
            {
              "name": "X-Title",
              "value": "NEXUS OS - KYC Auditor"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"google/gemini-flash-1.5\",\n  \"max_tokens\": 1500,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a professional KYC/AML Document Auditor for car buyers. Analyze the provided document and extract: Full Name, Date of Birth, Expiry Date, Document Type, Validity. Check for any signs of tampering or inconsistencies. Respond STRICTLY in JSON format: { \\\"fullName\\\": \\\"...\\\", \\\"dateOfBirth\\\": \\\"...\\\", \\\"expiryDate\\\": \\\"...\\\", \\\"documentType\\\": \\\"...\\\", \\\"isValid\\\": true/false, \\\"tamperingDetected\\\": true/false, \\\"confidenceScore\\\": 0-100, \\\"remarks\\\": \\\"...\\\" }\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ $json.hasImage ? JSON.stringify([{\"type\": \"text\", \"text\": \"Analyze this KYC document:\"}, {\"type\": \"image_url\", \"image_url\": {\"url\": \"data:image/jpeg;base64,\" + $json.imageBase64}}]) : JSON.stringify(\"Analyze this KYC document text:\\n\\n\" + $json.documentContent) }}\n    }\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "e96f1d24-3435-46c4-bfa2-3531b26c2712",
      "name": "OpenRouter Vision (KYC Analysis)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        220,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2hBISF8xyersMO9B",
          "name": "OpenRouter API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst content = response.choices[0].message.content;\n\n// Try to parse the JSON from the AI response\nlet auditResult;\ntry {\n  // Remove markdown code fences if present\n  const cleaned = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  auditResult = JSON.parse(cleaned);\n} catch (e) {\n  auditResult = {\n    fullName: 'PARSE_ERROR',\n    isValid: false,\n    tamperingDetected: false,\n    confidenceScore: 0,\n    remarks: 'Failed to parse AI response: ' + content.substring(0, 200)\n  };\n}\n\nreturn [{ json: { auditResult: JSON.stringify(auditResult), parsed: auditResult } }];"
      },
      "id": "6eb678c1-155e-49cd-a24a-fb48721c4355",
      "name": "Parse JSON Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.parsed.isValid }}",
              "value2": true
            },
            {
              "value1": "={{ $json.parsed.tamperingDetected }}",
              "value2": false
            }
          ]
        }
      },
      "id": "426beeb2-7d2d-4cc6-8eeb-1cd17d91901a",
      "name": "Validation Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1.1,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "APPROVED"
            },
            {
              "name": "message",
              "value": "KYC Document is valid and verified."
            },
            {
              "name": "details",
              "value": "={{ $json.auditResult }}"
            }
          ]
        },
        "options": {}
      },
      "id": "18f45a0b-1798-4c31-96ec-ecad1a63e6e8",
      "name": "Approved",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        900,
        -100
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "REJECTED"
            },
            {
              "name": "message",
              "value": "KYC Document failed validation or tampering detected."
            },
            {
              "name": "details",
              "value": "={{ $json.auditResult }}"
            }
          ]
        },
        "options": {}
      },
      "id": "01c905ab-ee57-41a6-8968-3e4b7b3b3a0f",
      "name": "Rejected",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        900,
        100
      ]
    }
  ],
  "connections": {
    "Receive Document": {
      "main": [
        [
          {
            "node": "Prepare Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Document": {
      "main": [
        [
          {
            "node": "OpenRouter Vision (KYC Analysis)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Vision (KYC Analysis)": {
      "main": [
        [
          {
            "node": "Parse JSON Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON Output": {
      "main": [
        [
          {
            "node": "Validation Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Check": {
      "main": [
        [
          {
            "node": "Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "kyc-aml-doc-auditor-v2-fixed",
  "id": "wf_101"
}