n8n-workflows/dynamic_pricing.json
{
  "name": "Competitor Price Scraping & Supabase Update",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "e1f13b65-0a88-4444-a0ab-48e0c8bdf92a",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        180,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "// MOCK COMPETITOR DATA — Replace this with real API call when ready\n// TODO: Replace URL in httpRequest node with real competitor API endpoint\nconst mockCompetitorData = {\n  products: [\n    { sku: 'VH-2024-CAMRY', price: 28500, name: 'Toyota Camry 2024' },\n    { sku: 'VH-2024-CIVIC', price: 26200, name: 'Honda Civic 2024' },\n    { sku: 'VH-2024-ACCORD', price: 31800, name: 'Honda Accord 2024' },\n    { sku: 'VH-2024-RAV4', price: 33400, name: 'Toyota RAV4 2024' },\n    { sku: 'VH-2024-CRV', price: 32100, name: 'Honda CR-V 2024' },\n    { sku: 'VH-2024-COROLLA', price: 22900, name: 'Toyota Corolla 2024' }\n  ],\n  source: 'mock-data',\n  timestamp: new Date().toISOString()\n};\n\nreturn [{ json: mockCompetitorData }];"
      },
      "id": "mock-competitor-data",
      "name": "Mock Competitor Data (Replace with Real API)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        240
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "table": "inventory",
        "options": {}
      },
      "id": "a6b7cc99-1738-4e8c-8f1d-23d91eb8f1cc",
      "name": "Fetch Local Inventory",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        620,
        240
      ],
      "credentials": {
        "supabaseApi": {
          "id": "WxfEocKnaEZhpmoV",
          "name": "Supabase - NEXUS OS"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const competitorData = $items(\"Mock Competitor Data (Replace with Real API)\")[0].json;\nconst localInventory = $input.all();\n\nconst updates = [];\n\nfor (const item of localInventory) {\n  const product = item.json;\n  const competitorProduct = competitorData.products.find(p => p.sku === product.sku);\n  \n  if (competitorProduct && competitorProduct.price < product.price) {\n    updates.push({\n      json: {\n        id: product.id,\n        sku: product.sku,\n        oldPrice: product.price,\n        price: competitorProduct.price - 0.01\n      }\n    });\n  }\n}\n\nif (updates.length === 0) {\n  return [{ json: { message: 'No price updates needed', timestamp: new Date().toISOString() } }];\n}\n\nreturn updates;"
      },
      "id": "4d5885c3-3004-4d87-9913-75b5b0eb81cc",
      "name": "Calculate Dynamic Pricing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        240
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": "inventory",
        "columns": "price",
        "options": {}
      },
      "id": "ff91eab1-8e01-499d-92d6-0a2a4b868bc2",
      "name": "Update Prices in Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1060,
        240
      ],
      "credentials": {
        "supabaseApi": {
          "id": "WxfEocKnaEZhpmoV",
          "name": "Supabase - NEXUS OS"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Mock Competitor Data (Replace with Real API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock Competitor Data (Replace with Real API)": {
      "main": [
        [
          {
            "node": "Fetch Local Inventory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Local Inventory": {
      "main": [
        [
          {
            "node": "Calculate Dynamic Pricing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Dynamic Pricing": {
      "main": [
        [
          {
            "node": "Update Prices in Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dynamic-pricing-v2-fixed",
  "id": "wf_102",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "createdAt": "2026-07-17T15:35:46.000Z",
      "updatedAt": "2026-07-17T15:35:46.000Z",
      "id": "1",
      "name": "dynamic-pricing"
    }
  ]
}