n8n-workflows/finance_calc.json
{
  "name": "Finance Calc: Auto Loan Equity & Credit Score",
  "nodes": [
    {
      "parameters": {
        "path": "finance-calc",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "finance-calc-webhook"
    },
    {
      "parameters": {
        "url": "https://api.example.com/v1/credit-scores",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ssn",
              "value": "={{ $json.body.ssn }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "Credit Score API (Configure Real Endpoint)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        450,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.first().json;\nconst webhookData = $node['Webhook Trigger'].json;\n\n// Extract variables from the Webhook and API response\nconst vehicleValue = parseFloat(webhookData.body?.vehicleValue) || 0;\nconst loanPayoffAmount = parseFloat(webhookData.body?.loanPayoffAmount) || 0;\n// Use API credit score if available, fallback to webhook value or default 700\nconst creditScore = inputData.creditScore || parseInt(webhookData.body?.creditScore) || 700;\n\n// Calculate Equity\nconst equity = vehicleValue - loanPayoffAmount;\n\n// Determine Finance Tier based on Credit Score\nlet financeTier = 'Subprime';\nif (creditScore >= 720) {\n  financeTier = 'Prime Plus';\n} else if (creditScore >= 680) {\n  financeTier = 'Prime';\n} else if (creditScore >= 620) {\n  financeTier = 'Near Prime';\n}\n\nreturn [{\n  json: {\n    status: 'success',\n    equity: equity,\n    equityStatus: equity >= 0 ? 'Positive' : 'Negative',\n    creditScore: creditScore,\n    financeTier: financeTier,\n    vehicleValue: vehicleValue,\n    loanPayoffAmount: loanPayoffAmount,\n    calculatedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "3",
      "name": "Calculate Equity & Tier",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Credit Score API (Configure Real Endpoint)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Credit Score API (Configure Real Endpoint)": {
      "main": [
        [
          {
            "node": "Calculate Equity & Tier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "id": "wf_103"
}