n8n-workflows/marketing_drip.json
{
  "name": "7-Day Warm Lead Drip Campaign",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-trigger",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "days"
      },
      "name": "Wait Day 1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"NEXUS OS Sales <sales@nexuscorp.net>\",\n  \"to\": [\"{{ $node['Webhook Trigger'].json.body.email }}\"],\n  \"subject\": \"Welcome to NEXUS OS! 🚗\",\n  \"html\": \"<h2>Hi {{ $node['Webhook Trigger'].json.body.name }},</h2><p>Thank you for your interest in NEXUS OS. We have an incredible selection of premium vehicles waiting for you.</p><p>Reply to this email or call us to schedule your personal showroom tour.</p><br><p>Best regards,<br>NEXUS OS Sales Team</p>\"\n}",
        "options": {}
      },
      "name": "Email: Welcome (Resend)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        650,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "AUsufgmxQqmkeIPw",
          "name": "Resend Email API"
        }
      }
    },
    {
      "parameters": {
        "from": "+1234567890",
        "to": "={{ $node['Webhook Trigger'].json.body.phone }}",
        "message": "Hi {{ $node['Webhook Trigger'].json.body.name }}, thanks for contacting NEXUS OS! Check your email for exclusive offers. Reply STOP to opt out."
      },
      "name": "SMS: Welcome",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        850,
        300
      ],
      "credentials": {
        "twilioApi": {
          "id": "uSZczHzmgv3bHs5w",
          "name": "Twilio SMS API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "days"
      },
      "name": "Wait Day 3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"NEXUS OS Sales <sales@nexuscorp.net>\",\n  \"to\": [\"{{ $node['Webhook Trigger'].json.body.email }}\"],\n  \"subject\": \"Did you find your dream car? 🔑\",\n  \"html\": \"<h2>Hi {{ $node['Webhook Trigger'].json.body.name }},</h2><p>Just checking in — have you had a chance to browse our inventory?</p><p>We have new arrivals this week including premium SUVs and sedans. Let us know if you need any help!</p><br><p>Best regards,<br>NEXUS OS Sales Team</p>\"\n}",
        "options": {}
      },
      "name": "Email: Follow Up (Resend)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1250,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "AUsufgmxQqmkeIPw",
          "name": "Resend Email API"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "days"
      },
      "name": "Wait Day 5",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1450,
        300
      ]
    },
    {
      "parameters": {
        "from": "+1234567890",
        "to": "={{ $node['Webhook Trigger'].json.body.phone }}",
        "message": "Hi {{ $node['Webhook Trigger'].json.body.name }}, don't miss our weekend specials at NEXUS OS! Schedule your test drive today: https://nexuscorp.net/book"
      },
      "name": "SMS: Check-in",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1650,
        300
      ],
      "credentials": {
        "twilioApi": {
          "id": "uSZczHzmgv3bHs5w",
          "name": "Twilio SMS API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "days"
      },
      "name": "Wait Day 7",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1850,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"NEXUS OS Sales <sales@nexuscorp.net>\",\n  \"to\": [\"{{ $node['Webhook Trigger'].json.body.email }}\"],\n  \"subject\": \"🎉 Exclusive Offer — Just for You!\",\n  \"html\": \"<h2>Hi {{ $node['Webhook Trigger'].json.body.name }},</h2><p>As a special thank you for your interest, we're offering you an <strong>exclusive 5% discount</strong> on your first purchase at NEXUS OS.</p><p>This offer expires in 48 hours. Don't miss out!</p><p><a href='https://nexuscorp.net/book'>Book Your Test Drive Now →</a></p><br><p>Best regards,<br>NEXUS OS Sales Team</p>\"\n}",
        "options": {}
      },
      "name": "Email: Final Offer (Resend)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2050,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "AUsufgmxQqmkeIPw",
          "name": "Resend Email API"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Wait Day 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Day 1": {
      "main": [
        [
          {
            "node": "Email: Welcome (Resend)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email: Welcome (Resend)": {
      "main": [
        [
          {
            "node": "SMS: Welcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS: Welcome": {
      "main": [
        [
          {
            "node": "Wait Day 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Day 3": {
      "main": [
        [
          {
            "node": "Email: Follow Up (Resend)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email: Follow Up (Resend)": {
      "main": [
        [
          {
            "node": "Wait Day 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Day 5": {
      "main": [
        [
          {
            "node": "SMS: Check-in",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS: Check-in": {
      "main": [
        [
          {
            "node": "Wait Day 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Day 7": {
      "main": [
        [
          {
            "node": "Email: Final Offer (Resend)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "wf_104"
}