n8n-workflows/nexus_master_router.json
{
  "name": "NEXUS Master Lead Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nexus-inbound-lead",
        "options": {}
      },
      "name": "Webhook Catch-All",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "messages": {
          "messageValues": [
            {
              "content": "You are NEXUS AI. Read the following lead message and score the intent from 1-100. If >= 70, classify as HOT. If 40-69, classify as WARM. If < 40, classify as COLD. Return exactly JSON: {\"score\": number, \"intent\": \"HOT\"|\"WARM\"|\"COLD\"}. Message: {{ $json.body.message || $json.body.notes }}"
            }
          ]
        }
      },
      "name": "OpenAI Intent Scoring",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "openAiApi": {
          "id": "nexus-openai-key",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "jsonParse": true
        }
      },
      "name": "Parse AI Output",
      "type": "n8n-nodes-base.jsonParse",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.intent }}",
        "rules": {
          "rules": [
            {
              "value2": "HOT",
              "output": 0
            },
            {
              "value2": "WARM",
              "output": 1
            },
            {
              "value2": "COLD",
              "output": 2
            }
          ]
        }
      },
      "name": "Intent Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/slack-hot-lead",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($node[\"Webhook Catch-All\"].json.body) }}"
      },
      "name": "Trigger Slack (HOT)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/whatsapp-welcome",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($node[\"Webhook Catch-All\"].json.body) }}"
      },
      "name": "Trigger WhatsApp (HOT/WARM)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/lead-trigger",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($node[\"Webhook Catch-All\"].json.body) }}"
      },
      "name": "Trigger Marketing Drip (COLD)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 500]
    }
  ],
  "connections": {
    "Webhook Catch-All": {
      "main": [
        [
          {
            "node": "OpenAI Intent Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Intent Scoring": {
      "main": [
        [
          {
            "node": "Parse AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Output": {
      "main": [
        [
          {
            "node": "Intent Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Switch": {
      "main": [
        [
          {
            "node": "Trigger Slack (HOT)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trigger WhatsApp (HOT/WARM)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger WhatsApp (HOT/WARM)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Marketing Drip (COLD)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "nexus_wf_master"
}
