n8n-workflows/rag_sync.json
{
  "name": "Sync Closed-Won Deals to Supabase pgvector",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "deals/closed-won",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "1",
      "name": "Webhook - New Deal",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "webhook-deals-sync-rag"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "dealText",
              "value": "={{ $json.body.deal_name }} - {{ $json.body.company }}: {{ $json.body.description }}"
            },
            {
              "name": "dealId",
              "value": "={{ $json.body.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "Format Deal Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://nexuscorp.net"
            },
            {
              "name": "X-Title",
              "value": "NEXUS OS - RAG Embeddings"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"openai/text-embedding-ada-002\",\n  \"input\": \"{{ $json.dealText }}\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "3",
      "name": "OpenRouter - Generate Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        650,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2hBISF8xyersMO9B",
          "name": "OpenRouter API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nlet embedding;\n\nif (response.data && response.data[0] && response.data[0].embedding) {\n  embedding = response.data[0].embedding;\n} else {\n  // Fallback: generate a zero vector if embedding fails\n  embedding = new Array(1536).fill(0);\n}\n\nconst dealId = $node['Format Deal Text'].json.dealId;\nconst dealText = $node['Format Deal Text'].json.dealText;\n\nreturn [{ json: { dealId, dealText, embedding: JSON.stringify(embedding) } }];"
      },
      "id": "parse-embedding",
      "name": "Parse Embedding Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO deals_embeddings (deal_id, content, embedding) VALUES ('{{ $json.dealId }}', '{{ $json.dealText }}', '{{ $json.embedding }}') ON CONFLICT (deal_id) DO UPDATE SET content = EXCLUDED.content, embedding = EXCLUDED.embedding;",
        "options": {}
      },
      "id": "4",
      "name": "Supabase (Postgres) - Upsert Vector",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1050,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "2njx6fRNkElVRJ6x",
          "name": "Supabase Postgres (Docker)"
        }
      }
    }
  ],
  "connections": {
    "Webhook - New Deal": {
      "main": [
        [
          {
            "node": "Format Deal Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Deal Text": {
      "main": [
        [
          {
            "node": "OpenRouter - Generate Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter - Generate Embedding": {
      "main": [
        [
          {
            "node": "Parse Embedding Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Embedding Response": {
      "main": [
        [
          {
            "node": "Supabase (Postgres) - Upsert Vector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "versionId": "rag-sync-v2-fixed",
  "id": "wf_105"
}