n8n-workflows/slack_router.json
{
  "name": "Slack Command Center - CRM Updates",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack/command/crm-update",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Slack Slash Command Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "12345678-1234-1234-1234-123456789abc"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "leadId",
              "value": "={{ $json.body.text.split(' ')[0] }}"
            },
            {
              "name": "newStatus",
              "value": "={{ $json.body.text.split(' ')[1] }}"
            },
            {
              "name": "channelId",
              "value": "={{ $json.body.channel_id }}"
            },
            {
              "name": "userId",
              "value": "={{ $json.body.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Extract Command Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE leads SET status = '{{ $json.newStatus }}', updated_at = NOW() WHERE id = '{{ $json.leadId }}' RETURNING id, status;",
        "options": {}
      },
      "name": "Update Lead in Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        650,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "2njx6fRNkElVRJ6x",
          "name": "Supabase Postgres (Docker)"
        }
      }
    },
    {
      "parameters": {
        "channel": "={{ $node[\"Extract Command Data\"].json.channelId }}",
        "text": "=✅ <@{{ $node[\"Extract Command Data\"].json.userId }}> successfully updated Lead `{{ $node[\"Extract Command Data\"].json.leadId }}` to status `{{ $node[\"Extract Command Data\"].json.newStatus }}` in Supabase.",
        "otherOptions": {}
      },
      "name": "Send Slack Confirmation",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        850,
        300
      ],
      "credentials": {
        "slackApi": {
          "id": "HPTEqLu6xjmhEXDN",
          "name": "Slack - NEXUS OS Bot"
        }
      }
    }
  ],
  "connections": {
    "Slack Slash Command Webhook": {
      "main": [
        [
          {
            "node": "Extract Command Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Command Data": {
      "main": [
        [
          {
            "node": "Update Lead in Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead in Supabase": {
      "main": [
        [
          {
            "node": "Send Slack Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "wf_106",
  "tags": [
    {
      "createdAt": "2026-07-17T15:00:00.000Z",
      "updatedAt": "2026-07-17T15:00:00.000Z",
      "id": "1",
      "name": "Slack"
    },
    {
      "createdAt": "2026-07-17T15:00:00.000Z",
      "updatedAt": "2026-07-17T15:00:00.000Z",
      "id": "2",
      "name": "CRM"
    }
  ]
}