n8n-workflows/whatsapp_bdc.json
{
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "WhatsApp BDC AI Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "whatsapp-bdc",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "e4f8d9b1-1111-4a11-1111-123456789abc",
      "name": "WhatsApp Verification Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        200
      ],
      "webhookId": "whatsapp-verification"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "id": "e4f8d9b1-2222-4a11-1111-123456789abc",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        450,
        200
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-bdc",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "e4f8d9b1-3333-4a11-1111-123456789abc",
      "name": "WhatsApp Message Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        450
      ],
      "webhookId": "whatsapp-messages"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body?.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.text?.body }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "e4f8d9b1-4444-4a11-1111-123456789abc",
      "name": "Check If Valid Text Message",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        450,
        450
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://nexuscorp.net"
            },
            {
              "name": "X-Title",
              "value": "NEXUS OS - WhatsApp BDC"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"google/gemini-flash-1.5\",\n  \"max_tokens\": 250,\n  \"temperature\": 0.7,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a highly professional Business Development Center (BDC) agent for a premium automotive dealership (NEXUS OS). Your objective is to chat with leads via WhatsApp, answer their questions about vehicles, and ultimately book them for a test drive. Be polite, concise, and persuasive. Collect their preferred date and time, and confirm the booking. Always respond in the same language the customer uses.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.body.entry[0].changes[0].value.messages[0].text.body }}\"\n    }\n  ]\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "e4f8d9b1-5555-4a11-1111-123456789abc",
      "name": "OpenRouter BDC Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        700,
        430
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2hBISF8xyersMO9B",
          "name": "OpenRouter API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst aiReply = response.choices[0].message.content;\nconst customerPhone = $('WhatsApp Message Webhook').first().json.body.entry[0].changes[0].value.messages[0].from;\n\nreturn [{ json: { aiReply, customerPhone } }];"
      },
      "id": "e4f8d9b1-parse-reply",
      "name": "Extract AI Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        430
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{ $env.WHATSAPP_PHONE_NUMBER_ID || 'CONFIGURE_PHONE_ID' }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.customerPhone }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"{{ $json.aiReply }}\"\n  }\n}",
        "options": {}
      },
      "id": "e4f8d9b1-6666-4a11-1111-123456789abc",
      "name": "Send WhatsApp Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1140,
        430
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "W1bKj9lO2JiWjifO",
          "name": "WhatsApp Business API Token"
        }
      }
    }
  ],
  "connections": {
    "WhatsApp Verification Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Message Webhook": {
      "main": [
        [
          {
            "node": "Check If Valid Text Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Valid Text Message": {
      "main": [
        [
          {
            "node": "OpenRouter BDC Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter BDC Agent": {
      "main": [
        [
          {
            "node": "Extract AI Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract AI Reply": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true
  },
  "id": "wf_107"
}