n8n-workflows/backup/customer_360.json
{
  "name": "Customer 360 — AI Intelligence Agent",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "hours", "hoursInterval": 6 }] } },
      "id": "j10-001", "name": "Schedule (Every 6h)", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.1, "position": [0, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/leads?select=*&order=created_at.desc&limit=50",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "apikey", "value": "={{ $env.SUPABASE_KEY }}" },
          { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_KEY }}" }
        ]},
        "options": {}
      },
      "id": "j10-002", "name": "Fetch All Active Leads", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [240, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ODOO_URL }}/jsonrpc",
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "{\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"call\",\n  \"params\": {\n    \"service\": \"object\",\n    \"method\": \"execute_kw\",\n    \"args\": [\n      \"{{ $env.ODOO_DB }}\",\n      {{ parseInt($env.ODOO_USER_ID) || 2 }},\n      \"{{ $env.ODOO_API_KEY }}\",\n      \"crm.lead\",\n      \"search_read\",\n      [[[\"create_date\", \">=\", \"{{ new Date(Date.now() - 7*24*60*60*1000).toISOString().split('T')[0] }}\"]]],\n      { \"fields\": [\"name\", \"contact_name\", \"phone\", \"email_from\", \"expected_revenue\", \"stage_id\", \"create_date\"], \"limit\": 50 }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "j10-003", "name": "Fetch Odoo Leads", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [240, 400],
      "credentials": { "odooApi": { "id": "ODOO_CRED_ID", "name": "Odoo ERP" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const supabaseLeads = $node['Fetch All Active Leads'].json;\nconst odooResponse = $node['Fetch Odoo Leads'].json;\n\nconst leads = Array.isArray(supabaseLeads) ? supabaseLeads : [];\nconst odooLeads = odooResponse?.result || [];\n\n// Build pipeline summary\nconst pipeline = {\n  total: leads.length,\n  by_priority: { HOT: 0, WARM: 0, COLD: 0, unscored: 0 },\n  by_status: {},\n  avg_score: 0,\n  total_potential_revenue: 0,\n  leads_last_24h: 0,\n  odoo_leads: odooLeads.length\n};\n\nconst now = Date.now();\nlet scoreSum = 0, scoreCount = 0;\n\nleads.forEach(l => {\n  pipeline.by_priority[l.ai_priority || 'unscored']++;\n  pipeline.by_status[l.status || 'unknown'] = (pipeline.by_status[l.status || 'unknown'] || 0) + 1;\n  if (l.ai_score) { scoreSum += l.ai_score; scoreCount++; }\n  if (l.budget_max) pipeline.total_potential_revenue += parseFloat(l.budget_max);\n  if (new Date(l.created_at).getTime() > now - 24*60*60*1000) pipeline.leads_last_24h++;\n});\n\npipeline.avg_score = scoreCount > 0 ? Math.round(scoreSum / scoreCount) : 0;\n\nreturn [{ json: {\n  pipeline,\n  sample_leads: leads.slice(0, 5).map(l => `${l.name} (${l.ai_priority}/${l.status}, Score:${l.ai_score})`).join('; ')\n}}];"
      },
      "id": "j10-004", "name": "Aggregate 360 Data", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST", "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "HTTP-Referer", "value": "https://nexuscorp.net" },
          { "name": "X-Title", "value": "NEXUS OS — Customer Intelligence" }
        ]},
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"google/gemini-flash-1.5\",\n  \"max_tokens\": 400,\n  \"temperature\": 0.3,\n  \"messages\": [{\n    \"role\": \"system\",\n    \"content\": \"You are a Customer Intelligence Analyst for a UAE automotive dealership. Analyze the pipeline data and provide:\\n1. 📊 Pipeline Health Score (A/B/C/D)\\n2. ⚠️ Top Risk (one-line)\\n3. 💡 Top Opportunity (one-line)\\n4. 🎯 Recommended Action (one-line)\\n\\nKeep it under 80 words. Be data-driven.\"\n  },{\n    \"role\": \"user\",\n    \"content\": \"PIPELINE DATA:\\n{{ JSON.stringify($json.pipeline) }}\\n\\nSAMPLE LEADS:\\n{{ $json.sample_leads }}\"\n  }]\n}",
        "options": { "timeout": 12000 }
      },
      "id": "j10-005", "name": "AI Customer Intelligence", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [720, 300],
      "credentials": { "httpHeaderAuth": { "id": "OPENROUTER_CRED_ID", "name": "OpenRouter API" } }
    },
    {
      "parameters": {
        "jsCode": "const ai = $input.first().json;\nconst data = $node['Aggregate 360 Data'].json;\nlet insight;\ntry { insight = ai.choices[0].message.content.trim(); } catch(e) { insight = 'AI analysis unavailable.'; }\n\nconst p = data.pipeline;\nreturn [{ json: {\n  slackMessage: `📊 *Customer 360 Report*\\n\\n*Pipeline:* ${p.total} leads | 🔥 HOT: ${p.by_priority.HOT} | 🟡 WARM: ${p.by_priority.WARM} | 🔵 COLD: ${p.by_priority.COLD}\\n*Avg Score:* ${p.avg_score}/100 | *New (24h):* ${p.leads_last_24h}\\n*Potential Revenue:* AED ${p.total_potential_revenue.toLocaleString()}\\n*Odoo CRM:* ${p.odoo_leads} leads synced\\n\\n*🤖 AI Insight:*\\n${insight}`,\n  insight,\n  pipeline: p\n}}];"
      },
      "id": "j10-006", "name": "Build Report", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [960, 300]
    },
    {
      "parameters": {
        "channel": "C0BJ5PLTPDJ",
        "text": "={{ $json.slackMessage }}",
        "otherOptions": {}
      },
      "id": "j10-007", "name": "Post to Slack", "type": "n8n-nodes-base.slack", "typeVersion": 2.1, "position": [1200, 300],
      "credentials": { "slackApi": { "id": "SLACK_CRED_ID", "name": "Slack - NEXUS OS Bot" } },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Schedule (Every 6h)": { "main": [
      [ { "node": "Fetch All Active Leads", "type": "main", "index": 0 }, { "node": "Fetch Odoo Leads", "type": "main", "index": 0 } ]
    ]},
    "Fetch All Active Leads": { "main": [[ { "node": "Aggregate 360 Data", "type": "main", "index": 0 } ]] },
    "Fetch Odoo Leads": { "main": [[ { "node": "Aggregate 360 Data", "type": "main", "index": 1 } ]] },
    "Aggregate 360 Data": { "main": [[ { "node": "AI Customer Intelligence", "type": "main", "index": 0 } ]] },
    "AI Customer Intelligence": { "main": [[ { "node": "Build Report", "type": "main", "index": 0 } ]] },
    "Build Report": { "main": [[ { "node": "Post to Slack", "type": "main", "index": 0 } ]] }
  },
  "settings": { "executionOrder": "v1", "saveExecutionProgress": true },
  "tags": [{ "name": "AI-Agent", "id": "tag-agent" }, { "name": "CRM", "id": "tag-crm" }]
}