n8n-workflows/backup/document_auditor.json
{
  "name": "KYC/AML Document Auditor — AI Compliance Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "audit-kyc",
        "responseMode": "lastNode",
        "options": { "responseHeaders": { "entries": [{ "name": "Access-Control-Allow-Origin", "value": "*" }] } }
      },
      "id": "e5000001-0001-4e00-e000-000000000001",
      "name": "Receive Document",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst body = raw.body || raw;\n\nlet documentContent = '';\nlet imageBase64 = null;\nlet documentType = 'unknown';\n\nif (body.document_base64) {\n  imageBase64 = body.document_base64;\n  documentContent = 'Image document provided';\n  documentType = 'image';\n} else if (body.document_text) {\n  documentContent = body.document_text;\n  documentType = 'text';\n} else if (body.text) {\n  documentContent = body.text;\n  documentType = 'text';\n} else {\n  documentContent = JSON.stringify(body);\n  documentType = 'raw';\n}\n\nreturn [{ json: {\n  documentContent,\n  imageBase64,\n  hasImage: !!imageBase64,\n  documentType,\n  submittedAt: new Date().toISOString(),\n  clientIp: raw.headers?.['x-forwarded-for'] || 'unknown'\n}}];"
      },
      "id": "e5000001-0002-4e00-e000-000000000002",
      "name": "Prepare Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "HTTP-Referer", "value": "https://nexuscorp.net" },
            { "name": "X-Title", "value": "NEXUS OS — KYC Compliance Agent" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"google/gemini-flash-1.5\",\n  \"max_tokens\": 1500,\n  \"temperature\": 0.1,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert KYC/AML Compliance Agent for automotive dealerships in the UAE. Analyze the provided document with forensic attention to detail.\\n\\nDOCUMENT TYPES YOU HANDLE:\\n• Emirates ID — Check name, ID number (784-XXXX-XXXXXXX-X), expiry, photo consistency\\n• Passport — Check nationality, validity, MRZ if visible\\n• Trade License — Verify company details and validity\\n• Vehicle Registration (Mulkiya) — Check plate, chassis, expiry\\n• Sales Contract — Detect hidden fees, compare against official RTA rates\\n• RTA Invoice — Verify registration fees match official schedule\\n\\nOFFICIAL UAE RTA FEES (2024-2026):\\n• New registration: AED 420\\n• Transfer: AED 350\\n• Export: AED 200\\n• Mortgage registration: AED 100\\n• Number plate: AED 35-50\\n\\nRETURN STRICTLY THIS JSON:\\n{\\n  \\\"document_type\\\": \\\"<type>\\\",\\n  \\\"extracted_data\\\": { \\\"name\\\": \\\"...\\\", \\\"id_number\\\": \\\"...\\\", \\\"expiry_date\\\": \\\"...\\\", \\\"nationality\\\": \\\"...\\\" },\\n  \\\"is_valid\\\": true/false,\\n  \\\"tampering_detected\\\": true/false,\\n  \\\"risk_level\\\": \\\"LOW\\\" | \\\"MEDIUM\\\" | \\\"HIGH\\\" | \\\"CRITICAL\\\",\\n  \\\"confidence_score\\\": 0-100,\\n  \\\"hidden_fees\\\": { \\\"detected\\\": true/false, \\\"total_hidden_aed\\\": 0, \\\"line_items\\\": [] },\\n  \\\"flags\\\": [\\\"list of concerns\\\"],\\n  \\\"verification_notes\\\": \\\"detailed notes\\\",\\n  \\\"recommended_action\\\": \\\"APPROVE\\\" | \\\"REVIEW\\\" | \\\"REJECT\\\"\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ $json.hasImage ? JSON.stringify([{\"type\": \"text\", \"text\": \"Analyze this KYC/AML document for a UAE car dealership:\"}, {\"type\": \"image_url\", \"image_url\": {\"url\": \"data:image/jpeg;base64,\" + $json.imageBase64}}]) : JSON.stringify(\"Analyze this KYC document text for a UAE car dealership:\\n\\n\" + $json.documentContent) }}\n    }\n  ]\n}",
        "options": { "timeout": 30000 }
      },
      "id": "e5000001-0003-4e00-e000-000000000003",
      "name": "AI Compliance Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "OPENROUTER_CRED_ID", "name": "OpenRouter API" }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $input.first().json;\nconst docInfo = $node['Prepare Document'].json;\n\nlet result;\ntry {\n  const content = aiResponse.choices[0].message.content;\n  const cleaned = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  result = JSON.parse(cleaned);\n} catch (e) {\n  result = {\n    document_type: 'PARSE_ERROR',\n    is_valid: false,\n    tampering_detected: false,\n    risk_level: 'HIGH',\n    confidence_score: 0,\n    flags: ['AI response parse error'],\n    verification_notes: 'Manual review required',\n    recommended_action: 'REVIEW'\n  };\n}\n\nresult.audit_timestamp = docInfo.submittedAt;\nresult.document_input_type = docInfo.documentType;\n\nreturn [{ json: result }];"
      },
      "id": "e5000001-0004-4e00-e000-000000000004",
      "name": "Parse Audit Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/audit_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"kyc_document_audit\",\n  \"table_name\": \"kyc_audits\",\n  \"new_values\": {\n    \"document_type\": \"{{ $json.document_type }}\",\n    \"is_valid\": {{ $json.is_valid }},\n    \"risk_level\": \"{{ $json.risk_level }}\",\n    \"confidence_score\": {{ $json.confidence_score }},\n    \"recommended_action\": \"{{ $json.recommended_action }}\",\n    \"flags\": {{ JSON.stringify($json.flags || []) }}\n  }\n}",
        "options": {}
      },
      "id": "e5000001-0005-4e00-e000-000000000005",
      "name": "Log Audit → Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            { "value1": "={{ $node['Parse Audit Result'].json.recommended_action }}", "value2": "REJECT" }
          ]
        }
      },
      "id": "e5000001-0006-4e00-e000-000000000006",
      "name": "Is Rejected?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "channel": "C0BJ5PLTPDJ",
        "text": "=🚫 *KYC REJECTION ALERT*\n\n*Document Type:* {{ $node['Parse Audit Result'].json.document_type }}\n*Risk Level:* {{ $node['Parse Audit Result'].json.risk_level }}\n*Flags:* {{ ($node['Parse Audit Result'].json.flags || []).join(', ') }}\n*Notes:* {{ $node['Parse Audit Result'].json.verification_notes }}",
        "otherOptions": {}
      },
      "id": "e5000001-0007-4e00-e000-000000000007",
      "name": "Slack: Compliance Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1440, 200],
      "credentials": {
        "slackApi": { "id": "SLACK_CRED_ID", "name": "Slack - NEXUS OS Bot" }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($node['Parse Audit Result'].json) }}",
        "options": {}
      },
      "id": "e5000001-0008-4e00-e000-000000000008",
      "name": "Respond with Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1440, 400]
    }
  ],
  "connections": {
    "Receive Document": { "main": [[ { "node": "Prepare Document", "type": "main", "index": 0 } ]] },
    "Prepare Document": { "main": [[ { "node": "AI Compliance Agent", "type": "main", "index": 0 } ]] },
    "AI Compliance Agent": { "main": [[ { "node": "Parse Audit Result", "type": "main", "index": 0 } ]] },
    "Parse Audit Result": { "main": [[ { "node": "Log Audit → Supabase", "type": "main", "index": 0 } ]] },
    "Log Audit → Supabase": { "main": [[ { "node": "Is Rejected?", "type": "main", "index": 0 } ]] },
    "Is Rejected?": {
      "main": [
        [{ "node": "Slack: Compliance Alert", "type": "main", "index": 0 }],
        [{ "node": "Respond with Result", "type": "main", "index": 0 }]
      ]
    },
    "Slack: Compliance Alert": { "main": [[ { "node": "Respond with Result", "type": "main", "index": 0 } ]] }
  },
  "settings": { "executionOrder": "v1", "saveExecutionProgress": true },
  "meta": { "templateCredsSetupCompleted": true },
  "tags": [{ "name": "AI-Agent", "id": "tag-agent" }, { "name": "Compliance", "id": "tag-kyc" }]
}