n8n-workflows/backup/marketing_drip.json
{
  "name": "7-Day Drip Campaign — AI Content Agent",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "lead-trigger", "options": {} },
      "id": "i9-001", "name": "Webhook Trigger", "type": "n8n-nodes-base.webhook", "typeVersion": 1.1, "position": [0, 300]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst b = raw.body || raw;\nreturn [{ json: {\n  name: b.name || 'Customer',\n  email: b.email || '',\n  phone: b.phone || '',\n  vehicle_interest: b.vehicle_interest || 'our premium vehicles',\n  budget: b.budget_max ? `AED ${b.budget_min || 0} - ${b.budget_max}` : 'flexible',\n  lead_id: b.lead_id || b.id || null,\n  source: b.source || 'website',\n  enrolled_at: new Date().toISOString()\n}}];"
      },
      "id": "i9-002", "name": "Prepare Lead Data", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [240, 300]
    },
    {
      "parameters": { "amount": 1, "unit": "days" },
      "id": "i9-003", "name": "Wait Day 1", "type": "n8n-nodes-base.wait", "typeVersion": 1.1, "position": [480, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/leads?id=eq.{{ $json.lead_id }}&select=status,ai_priority",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "apikey", "value": "={{ $env.SUPABASE_KEY }}" },
          { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_KEY }}" }
        ]},
        "options": {}
      },
      "id": "i9-004", "name": "Check: Still Cold?", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [720, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const leadData = $input.first().json;\nconst lead = Array.isArray(leadData) ? leadData[0] : leadData;\nconst originalLead = $node['Prepare Lead Data'].json;\n\n// Exit drip if lead has converted\nconst exitStatuses = ['won', 'qualified', 'negotiation'];\nif (lead && exitStatuses.includes(lead.status)) {\n  return [{ json: { ...originalLead, drip_exit: true, exit_reason: `Lead converted to ${lead.status}` } }];\n}\nif (lead && lead.ai_priority === 'HOT') {\n  return [{ json: { ...originalLead, drip_exit: true, exit_reason: 'Lead upgraded to HOT' } }];\n}\n\nreturn [{ json: { ...originalLead, drip_exit: false } }];"
      },
      "id": "i9-005", "name": "Conversion Gate", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [960, 300]
    },
    {
      "parameters": { "conditions": { "boolean": [{ "value1": "={{ $json.drip_exit }}", "value2": true }] } },
      "id": "i9-006", "name": "Should Exit Drip?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1200, 300]
    },
    {
      "parameters": {
        "method": "POST", "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "HTTP-Referer", "value": "https://nexuscorp.net" },
          { "name": "X-Title", "value": "NEXUS OS — Email Content Agent" }
        ]},
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"google/gemini-flash-1.5\",\n  \"max_tokens\": 300,\n  \"temperature\": 0.8,\n  \"messages\": [{\n    \"role\": \"system\",\n    \"content\": \"You are a marketing copywriter for NEXUS OS premium automotive dealership in Dubai. Write a short, compelling welcome email (max 100 words). Include: personal greeting, mention their vehicle interest if known, one compelling reason to visit, and a clear CTA. Return ONLY the email body HTML (no subject line). Use professional but warm tone.\"\n  },{\n    \"role\": \"user\",\n    \"content\": \"Write a Day 1 welcome email for:\\nName: {{ $json.name }}\\nVehicle Interest: {{ $json.vehicle_interest }}\\nBudget: {{ $json.budget }}\\nSource: {{ $json.source }}\"\n  }]\n}",
        "options": { "timeout": 10000 }
      },
      "id": "i9-007", "name": "AI: Generate Welcome Email", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1440, 400],
      "credentials": { "httpHeaderAuth": { "id": "OPENROUTER_CRED_ID", "name": "OpenRouter API" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const ai = $input.first().json;\nconst lead = $node['Conversion Gate'].json;\nlet emailHtml;\ntry { emailHtml = ai.choices[0].message.content.trim(); } catch(e) {\n  emailHtml = `<h2>Hi ${lead.name},</h2><p>Thank you for your interest in NEXUS OS! We have an incredible selection of premium vehicles waiting for you.</p><p>Reply to this email or call us to schedule your personal showroom tour.</p><br><p>Best regards,<br>NEXUS OS Sales Team</p>`;\n}\nreturn [{ json: { ...lead, emailHtml, stage: 'day1_welcome' } }];"
      },
      "id": "i9-008", "name": "Parse Email Content", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1680, 400]
    },
    {
      "parameters": {
        "method": "POST", "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth",
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"NEXUS OS Sales <sales@nexuscorp.net>\",\n  \"to\": [\"{{ $json.email }}\"],\n  \"subject\": \"Welcome to NEXUS OS, {{ $json.name }}! 🚗\",\n  \"html\": {{ JSON.stringify($json.emailHtml) }}\n}",
        "options": {}
      },
      "id": "i9-009", "name": "Send Email (Resend)", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1920, 400],
      "credentials": { "httpHeaderAuth": { "id": "RESEND_CRED_ID", "name": "Resend Email API" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": { "amount": 2, "unit": "days" },
      "id": "i9-010", "name": "Wait Day 3", "type": "n8n-nodes-base.wait", "typeVersion": 1.1, "position": [2160, 400]
    },
    {
      "parameters": {
        "method": "POST", "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth",
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"NEXUS OS Sales <sales@nexuscorp.net>\",\n  \"to\": [\"{{ $node['Prepare Lead Data'].json.email }}\"],\n  \"subject\": \"Did you find your dream car, {{ $node['Prepare Lead Data'].json.name }}? 🔑\",\n  \"html\": \"<h2>Hi {{ $node['Prepare Lead Data'].json.name }},</h2><p>Just checking in — have you had a chance to browse our inventory?</p><p>We have new arrivals this week including premium SUVs and sedans in your range. Let us know if you need any help!</p><p><a href='https://nexuscorp.net/inventory'>Browse Inventory →</a></p><br><p>Best regards,<br>NEXUS OS Sales Team</p>\"\n}",
        "options": {}
      },
      "id": "i9-011", "name": "Email: Day 3 Follow-up", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2400, 400],
      "credentials": { "httpHeaderAuth": { "id": "RESEND_CRED_ID", "name": "Resend Email API" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": { "amount": 4, "unit": "days" },
      "id": "i9-012", "name": "Wait Day 7", "type": "n8n-nodes-base.wait", "typeVersion": 1.1, "position": [2640, 400]
    },
    {
      "parameters": {
        "method": "POST", "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth",
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"NEXUS OS Sales <sales@nexuscorp.net>\",\n  \"to\": [\"{{ $node['Prepare Lead Data'].json.email }}\"],\n  \"subject\": \"🎉 Exclusive Offer — Just for You, {{ $node['Prepare Lead Data'].json.name }}!\",\n  \"html\": \"<h2>Hi {{ $node['Prepare Lead Data'].json.name }},</h2><p>As a special thank you for your interest, we're offering you an <strong>exclusive 5% discount</strong> on your first purchase at NEXUS OS.</p><p>This offer expires in 48 hours. Don't miss out!</p><p><a href='https://nexuscorp.net/book'>Book Your Test Drive Now →</a></p><br><p>Best regards,<br>NEXUS OS Sales Team</p>\"\n}",
        "options": {}
      },
      "id": "i9-013", "name": "Email: Day 7 Final Offer", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2880, 400],
      "credentials": { "httpHeaderAuth": { "id": "RESEND_CRED_ID", "name": "Resend Email API" } },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[ { "node": "Prepare Lead Data", "type": "main", "index": 0 } ]] },
    "Prepare Lead Data": { "main": [[ { "node": "Wait Day 1", "type": "main", "index": 0 } ]] },
    "Wait Day 1": { "main": [[ { "node": "Check: Still Cold?", "type": "main", "index": 0 } ]] },
    "Check: Still Cold?": { "main": [[ { "node": "Conversion Gate", "type": "main", "index": 0 } ]] },
    "Conversion Gate": { "main": [[ { "node": "Should Exit Drip?", "type": "main", "index": 0 } ]] },
    "Should Exit Drip?": {
      "main": [
        [],
        [{ "node": "AI: Generate Welcome Email", "type": "main", "index": 0 }]
      ]
    },
    "AI: Generate Welcome Email": { "main": [[ { "node": "Parse Email Content", "type": "main", "index": 0 } ]] },
    "Parse Email Content": { "main": [[ { "node": "Send Email (Resend)", "type": "main", "index": 0 } ]] },
    "Send Email (Resend)": { "main": [[ { "node": "Wait Day 3", "type": "main", "index": 0 } ]] },
    "Wait Day 3": { "main": [[ { "node": "Email: Day 3 Follow-up", "type": "main", "index": 0 } ]] },
    "Email: Day 3 Follow-up": { "main": [[ { "node": "Wait Day 7", "type": "main", "index": 0 } ]] },
    "Wait Day 7": { "main": [[ { "node": "Email: Day 7 Final Offer", "type": "main", "index": 0 } ]] }
  },
  "settings": { "executionOrder": "v1", "saveExecutionProgress": true },
  "tags": [{ "name": "AI-Agent", "id": "tag-agent" }, { "name": "Marketing", "id": "tag-marketing" }]
}