n8n-workflows/backup/wf_109_lead_escalation.json
{
  "name": "Lead Escalation — AI Analyst",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-escalation",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "d4000001-0001-4d00-d000-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [0, 300],
      "webhookId": "lead-escalation-agent"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst body = raw.body || raw;\nreturn [{ json: {\n  lead_id: body.lead_id || body.id || null,\n  name: body.name || 'Unknown',\n  phone: body.phone || null,\n  email: body.email || null,\n  channel: body.channel || 'unknown',\n  reason: body.reason || 'Unspecified escalation',\n  last_message: body.last_message || body.message || '',\n  escalated_at: new Date().toISOString()\n}}];"
      },
      "id": "d4000001-0002-4d00-d000-000000000002",
      "name": "Parse Escalation Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/leads?id=eq.{{ $json.lead_id }}&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "d4000001-0003-4d00-d000-000000000003",
      "name": "Fetch Lead Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 200],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/communication_logs?lead_id=eq.{{ $node['Parse Escalation Data'].json.lead_id }}&order=created_at.desc&limit=5",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "d4000001-0004-4d00-d000-000000000004",
      "name": "Fetch Interaction History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 400],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const escalation = $node['Parse Escalation Data'].json;\nconst leadRaw = $node['Fetch Lead Profile'].json;\nconst historyRaw = $node['Fetch Interaction History'].json;\n\nconst lead = Array.isArray(leadRaw) ? leadRaw[0] : leadRaw;\nconst history = Array.isArray(historyRaw) ? historyRaw : [];\n\nconst historyText = history.map(h => \n  `[${h.direction}] ${h.channel}: ${h.message_text?.substring(0, 100)}`\n).join('\\n') || 'No prior interactions logged';\n\nreturn [{ json: {\n  ...escalation,\n  leadProfile: lead || {},\n  interactionHistory: historyText,\n  hasLeadProfile: !!lead?.id\n}}];"
      },
      "id": "d4000001-0005-4d00-d000-000000000005",
      "name": "Build Escalation Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "HTTP-Referer", "value": "https://nexuscorp.net" },
            { "name": "X-Title", "value": "NEXUS OS — Escalation Agent" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"google/gemini-flash-1.5\",\n  \"max_tokens\": 400,\n  \"temperature\": 0.3,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a Sales Manager AI at NEXUS OS automotive dealership. A lead has been escalated to you. Analyze the situation and write a BRIEF escalation summary for the sales team.\\n\\nInclude:\\n1. One-line situation summary\\n2. Why this was escalated\\n3. Recommended next action (be specific)\\n4. Urgency level (CRITICAL / HIGH / MEDIUM)\\n\\nKeep it under 100 words. Professional tone.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"ESCALATED LEAD:\\nName: {{ $json.name }}\\nChannel: {{ $json.channel }}\\nReason: {{ $json.reason }}\\nLast Message: {{ $json.last_message }}\\n\\nLEAD PROFILE:\\n{{ $json.hasLeadProfile ? 'Status: ' + $json.leadProfile.status + ' | Priority: ' + $json.leadProfile.ai_priority + ' | Score: ' + $json.leadProfile.ai_score + ' | Vehicle: ' + ($json.leadProfile.vehicle_interest || 'N/A') : 'No existing profile' }}\\n\\nRECENT INTERACTIONS:\\n{{ $json.interactionHistory }}\"\n    }\n  ]\n}",
        "options": { "timeout": 12000 }
      },
      "id": "d4000001-0006-4d00-d000-000000000006",
      "name": "AI Escalation Analyst",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "OPENROUTER_CRED_ID",
          "name": "OpenRouter API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $input.first().json;\nconst context = $node['Build Escalation Context'].json;\n\nlet summary;\ntry {\n  summary = aiResponse.choices[0].message.content.trim();\n} catch (e) {\n  summary = `Lead ${context.name} escalated from ${context.channel}. Reason: ${context.reason}. Manual review needed.`;\n}\n\nreturn [{ json: { ...context, ai_summary: summary } }];"
      },
      "id": "d4000001-0007-4d00-d000-000000000007",
      "name": "Parse AI Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"NEXUS OS Alerts <alerts@nexuscorp.net>\",\n  \"to\": [\"aliasgher892@gmail.com\"],\n  \"subject\": \"🚨 LEAD ESCALATED: {{ $json.name }} ({{ $json.channel }})\",\n  \"html\": \"<div style='font-family: Inter, sans-serif; max-width: 600px;'><h2 style='color: #EF4444;'>🚨 Lead Escalation Alert</h2><table style='width:100%; border-collapse:collapse;'><tr><td style='padding:8px; border-bottom:1px solid #eee;'><strong>Name:</strong></td><td style='padding:8px; border-bottom:1px solid #eee;'>{{ $json.name }}</td></tr><tr><td style='padding:8px; border-bottom:1px solid #eee;'><strong>Phone:</strong></td><td style='padding:8px; border-bottom:1px solid #eee;'>{{ $json.phone || 'N/A' }}</td></tr><tr><td style='padding:8px; border-bottom:1px solid #eee;'><strong>Channel:</strong></td><td style='padding:8px; border-bottom:1px solid #eee;'>{{ $json.channel }}</td></tr><tr><td style='padding:8px; border-bottom:1px solid #eee;'><strong>Reason:</strong></td><td style='padding:8px; border-bottom:1px solid #eee;'>{{ $json.reason }}</td></tr></table><h3 style='color: #4F46E5;'>AI Analysis</h3><p style='background: #F1F5F9; padding: 16px; border-radius: 8px; line-height: 1.6;'>{{ $json.ai_summary }}</p><p style='color: #6B7280; font-size: 12px;'>Escalated at {{ $json.escalated_at }}</p></div>\"\n}",
        "options": {}
      },
      "id": "d4000001-0008-4d00-d000-000000000008",
      "name": "Email Alert (Resend)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "RESEND_CRED_ID",
          "name": "Resend Email API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "channel": "C0BJ5PLTPDJ",
        "text": "=🚨 *ESCALATION ALERT*\n\n*Lead:* {{ $json.name }}\n*Channel:* {{ $json.channel }}\n*Phone:* {{ $json.phone || 'N/A' }}\n\n*AI Analysis:*\n{{ $json.ai_summary }}\n\n_Escalated at {{ $json.escalated_at }}_",
        "otherOptions": {}
      },
      "id": "d4000001-0009-4d00-d000-000000000009",
      "name": "Slack Alert (#sales-hot-leads)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1440, 400],
      "credentials": {
        "slackApi": {
          "id": "SLACK_CRED_ID",
          "name": "Slack - NEXUS OS Bot"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/leads?id=eq.{{ $json.lead_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"escalated\",\n  \"ai_intent\": \"ESCALATED: {{ $json.reason }}\",\n  \"updated_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "d4000001-0010-4d00-d000-000000000010",
      "name": "Update Lead Status → Escalated",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"escalated\",\n  \"lead\": \"{{ $node['Parse Escalation Data'].json.name }}\",\n  \"ai_summary\": {{ JSON.stringify($node['Parse AI Summary'].json.ai_summary) }},\n  \"notified\": [\"email\", \"slack\"]\n}",
        "options": {}
      },
      "id": "d4000001-0011-4d00-d000-000000000011",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1920, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[ { "node": "Parse Escalation Data", "type": "main", "index": 0 } ]]
    },
    "Parse Escalation Data": {
      "main": [
        [
          { "node": "Fetch Lead Profile", "type": "main", "index": 0 },
          { "node": "Fetch Interaction History", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Lead Profile": {
      "main": [[ { "node": "Build Escalation Context", "type": "main", "index": 0 } ]]
    },
    "Fetch Interaction History": {
      "main": [[ { "node": "Build Escalation Context", "type": "main", "index": 1 } ]]
    },
    "Build Escalation Context": {
      "main": [[ { "node": "AI Escalation Analyst", "type": "main", "index": 0 } ]]
    },
    "AI Escalation Analyst": {
      "main": [[ { "node": "Parse AI Summary", "type": "main", "index": 0 } ]]
    },
    "Parse AI Summary": {
      "main": [
        [
          { "node": "Email Alert (Resend)", "type": "main", "index": 0 },
          { "node": "Slack Alert (#sales-hot-leads)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Email Alert (Resend)": {
      "main": [[ { "node": "Update Lead Status → Escalated", "type": "main", "index": 0 } ]]
    },
    "Slack Alert (#sales-hot-leads)": {
      "main": [[ { "node": "Update Lead Status → Escalated", "type": "main", "index": 0 } ]]
    },
    "Update Lead Status → Escalated": {
      "main": [[ { "node": "Respond", "type": "main", "index": 0 } ]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true
  },
  "meta": { "templateCredsSetupCompleted": true },
  "tags": [
    { "name": "AI-Agent", "id": "tag-agent" },
    { "name": "Escalation", "id": "tag-escalation" }
  ]
}
