n8n-workflows/backup/wf_108_erp_sync.json
{
  "name": "wf_108 ERP Sync - Odoo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "erp-sync",
        "options": {}
      },
      "id": "1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "erp-sync-webhook-id"
    },
    {
      "parameters": {
        "url": "={{$env.SUPABASE_URL}}/rest/v1/leads?status=eq.HOT",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "Fetch HOT Leads from Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.ODOO_URL}}/jsonrpc",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "jsonrpc",
              "value": "2.0"
            },
            {
              "name": "method",
              "value": "call"
            },
            {
              "name": "params",
              "value": "={{$json}}"
            }
          ]
        },
        "options": {}
      },
      "id": "3",
      "name": "Push to Odoo ERP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch HOT Leads from Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch HOT Leads from Supabase": {
      "main": [
        [
          {
            "node": "Push to Odoo ERP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
